{% extends "layout.html" %}
{% block content %}

<section class="content-section">
      <div class="container text-center">
         <div class="mx-auto">

    <h1>Sign Up</h1>

    <form method="POST" action="/signup" novalidate>
    	{{ form.hidden_tag() }}

     <!-- username  -->
     	<div class="form-group">
     		{{ form.username.label }}<br>
     		{{ form.username(size=32) }}<br>
     		{% for error in form.username.errors %}
     			<span style="color:red;">[{{ error }}]</span>
     		{% endfor %}
     	</div>
     <!-- password -->
     	<div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
             	<span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </div>
     <!-- repeat password  -->
     	<div class="form-group">
            {{ form.repeatPassword.label }}<br>
            {{ form.repeatPassword(size=32) }}<br>
            {% for error in form.repeatPassword.errors %}
             	<span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </div>

     <!-- signup button -->
     {{ form.submit(class="btn btn-primary btn-x1") }} 
    </form>

</div>
</div>
</section>
    
{% endblock %}
